<label for="name">Name</label>
<!-- <input type="text" id="name" #personNameEl> - LOCAL REFERENCE - #personNameEL as an argument -->
<input type="text" id="name" [(ngModel)]="enteredPersonName"> <!-- TWO-WAY BINDING PROPERTY AND EVENT BINDING -->
<button (click)="onCreatePerson()">Create</button>