<!-- <ul>
  <li *ngFor="let person of personList">{{ person }}</li>
</ul> -->
<app-person-input (personCreated)="onPersonCreated($event)"></app-person-input>
<app-persons [personList]="persons"></app-persons>